---
title: Projects
---

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/nav.css">
 <link rel="stylesheet" href="../css/Projects.css">   

 <link rel="stylesheet" href="../css/blog.css">   
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/tango.css">
<!------ Include the above in your HEAD tag ---------->

<style>
    p{
        font-size: 14px !important;
    }
</style>

    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
{% include sidebar.html %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
             <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
<div class="project_headmast"><span style="
    font-size: xx-large;
    color: #c3c3c3;
    margin: 2% auto;
">Projects</span> <br> A selection of cool stuff I've worked on.</div>
<hr style="width: 90%;">
<div class="card_layouts container">
        <div class="row">

{% for projects in site.project_details %}

  <div class="col-md-5 col-md-offset-1 col-xs-12 col-sm-12">
    <div class="project_card">
         <img style="width: 100%;border-radius: 4px;" src="{{projects.image_path}}" alt="{{ project.title }}">
    	<div style="display: flex;flex-direction: column;" class="project_card_info">   
    	
        <h2 style="font-size: 22px;
    font-weight: 600;">{{projects.title}}</h2>
    {{ projects.content }}
    <div  style="
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
"><a class="github_button" href="http://www.github.com">Github &nbsp; <i class="fa fa-1x fa-github"></i></a>
<a class="notebook_button" href="{{site.baseurl}}{{projects.project_path}}">Notebook &nbsp; <i class="fa fa-1x fa-book"></i></a>

</div>

  </div>
  <div class="skills_card"> skills : {{projects.skills}}</div>
  </div>
</div>
  {% endfor %}	

</div>
</div>
<div style="    padding: 20px;">
<p style="    font-size: large !important;
    color: #8a8989;">Some other Projects I have worked on</p>
<ul class="list-group">
    <li class="list-group-item"> <h1 style="font-size: large;">Python Automated FB Wisher</h1>
<p>A packaged python command line utility that automates your birthday wishes.The package has been published on pypi.</p>
<a href="http://ankitpyc.github.io">Github Repo</a>
    </li>
     <li class="list-group-item"> <h1 style="font-size: large;">One Note</h1>
<p>A Text Editor using Mean Stack.Support</p>
    </li>
</ul>
</div>
</div>
</div>
<script src="../css/blog.js" type="text/javascript"></script>


</html>