  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
               <li class="" style="
    text-align: center;
    background: #000000;
"> 
                 <img src="https://scontent.fbho1-1.fna.fbcdn.net/v/t1.0-1/p160x160/24176670_1494666630649404_7505247795837322239_n.jpg?_nc_cat=0&amp;oh=8b160fed68b34d89bfa5587f3fc6d403&amp;oe=5B32B2C8" style="
    border-radius: 200px;
    height: 100px;
    width: 100px;
    margin: 14% auto;
    padding: 9px;
    border: 1px double #664e90;
">
        
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                       Ankit Mishra
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
		    </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                   <a href="#">About</a> 
                </li>
                <li>
                    <a href="#">Contact me</a>
                </li>
                <li>
                    <a href="https://twitter.com/maridlcrmn">Follow me</a>
                </li>
            </ul>
            <div style="height: 10%;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    align-items: center;
    display: flex;
    color: white !important;
    justify-content: space-around;" class="footer-nav">
                <a href=""><i class="fa fa-1x fa-github"></i></a>
                <a href=""><i class="fa fa-1x fa-facebook"></i></a>
                <a href=""> <i class="fa fa-1x fa-gmail"></i> </a>
            </div>
        </nav>